In [13]:
import selenium
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import pandas as pd
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC


#path= "/Users/yashveer/anaconda3/bin/chromedriver"

driver= webdriver.Chrome()

driver.get("https://www.timeshighereducation.com/world-university-rankings/2023/world-ranking#!/length/-1/locations/GBR/sort_by/rank/sort_order/asc/cols/stats")

In [34]:
table_id = "datatable-1"
WebDriverWait(driver, 10).until(EC.presence_of_element_located((By.ID, table_id)))
table = driver.find_element(By.ID, table_id)

In [35]:
# Finding the rows in the body
rows = table.find_element(By.TAG_NAME, "tbody").find_elements(By.TAG_NAME, "tr")

In [36]:
all_rows_data = []
# Iterating each row using for loop
for row in rows:
    cells = row.find_elements(By.TAG_NAME, "td") 
    row_data = [cell.text for cell in cells]
    all_rows_data.append(row_data)
headers = table.find_element(By.TAG_NAME, "thead").find_elements(By.TAG_NAME, "th")

column_names = ['Rank', ' Name/Country/Region', 'No. of FTE Students', 'No. of students per staff',
                'International Students', 'Female:Male Ratio']
df = pd.DataFrame(all_rows_data, columns=column_names)

print(df.head())

  Rank                                Name/Country/Region No. of FTE Students  \
0    1               University of Oxford\nUnited Kingdom              20,410
1    2            University of Cambridge\nUnited Kingdom              18,390
2    8            Imperial College London\nUnited Kingdom              15,855
3   16                                UCL\nUnited Kingdom              30,305
4  =25  London School of Economics and Political Scien...              10,065

  No. of students per staff International Students Female:Male Ratio
0                      11.2                    38%           46 : 54
1                      10.9                    35%           45 : 55
2                      11.4                    55%           37 : 63
3                      10.5                    49%           56 : 44
4                      12.1                    71%           52 : 48

In [37]:
df.shape

(93, 6)

In [38]:
df.to_csv('Documents/Consultancy Project TB2/IBM Scraped data/Overall_UK_Anysubject_Worlduniversityranking2018.csv', index=False)

In [85]:

rows = table.find_element(By.TAG_NAME, "tbody").find_elements(By.TAG_NAME, "tr")

In [87]:
# Assuming df is your DataFrame
df.to_csv('Documents/Consultancy Project TB2/OVERALL_UK_ANYSUBJECT.csv', index=False)